/* .nav-embedded {
	position: fixed;
	top: 50%;
	left: 42px;
	color: var(--lime-green);
	z-index: 1;
}

.nav-embedded ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-weight: 200;
	font-size: 0.8rem;
} */
