.embedded-secondSection {
	height: 200vh;
	position: relative;
	background-color: var(--dark-green);
	color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.embedded-secondSection .title-secondSection {
	position: sticky;
	top: 0;
	padding-top: 6.5rem;
	text-align: center;
	font-size: 1.5rem;
	transition: opacity 0.5s;
	font-weight: 500;
}

.embedded-secondSection .title-secondSection span {
	color: var(--lime-green);
	font-size: 1.5rem;
	font-weight: 500;
}

.container-pyramid {
	width: 100%;
	height: 80vh;
	position: sticky;
	top: 180px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 2rem;
}

@media (min-width: 768px) {
	.embedded-secondSection .title-secondSection {
		font-size: 2rem;
		width: 500px;
		padding-top: 10rem;
	}

	.embedded-secondSection .title-secondSection span {
		font-size: 2rem;
	}

	.container-pyramid {
		width: 90%;
	}
}

@media (min-width: 1366px) {
	.container-pyramid {
		width: 50%;
		height: 70vh;
	}
}

@media (min-width: 1920px) {
	.embedded-secondSection .title-secondSection,
	.embedded-secondSection .title-secondSection span {
		font-size: 2.5rem;
	}
}
