.power-fourthSection {
	height: 400vh;
	background-color: var(--background-power);
	position: relative;
	z-index: 1;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-img-fourthSection {
	position: relative;
	align-self: center;
	margin-top: 8rem;
	height: 256px;
	width: 100%;
}

.container-img-fourthSection.fixed {
	position: fixed;
	top: 8rem;
	margin-top: 0;
	width: 91.8%;
}

.container-img-fourthSection img {
	object-fit: contain;
}

.image-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.image-wrapper.active {
	opacity: 1;
}

.image-wrapper.initial {
	opacity: 1;
}

.list-fourthSection {
	display: flex;
	overflow: scroll;
	position: relative;
	height: 250px;
}

.list-fourthSection.fixed {
	position: fixed;
	top: 26rem;
	width: 90%;
}

.list-fourthSection li {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	color: var(--dark-green);
	line-height: 1.5;
	font-weight: 600;
	position: absolute;
	inset: 0;
	hyphens: auto;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.list-fourthSection li span {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--emerald-green);
}

.list-fourthSection li.active,
.list-fourthSection li.last {
	opacity: 1;
}

.list-fourthSection li.inactive {
	opacity: 0;
}

@media (min-width: 768px) {
	.power-fourthSection {
		padding: 0 1.5rem;
	}

	.container-img-fourthSection {
		width: 100%;
		height: 389px;
	}

	.container-img-fourthSection.fixed {
		height: 389px;
		width: 100%;
	}

	.list-fourthSection {
		width: 592px;
		align-self: center;
	}

	.list-fourthSection.fixed {
		top: 35rem;
		width: 592px;
	}

	.list-fourthSection li span {
		font-size: 2rem;
	}

	.list-fourthSection li p {
		font-size: 1.3rem;
	}
}

@media (min-width: 1366px) {
	.container-img-fourthSection {
		width: 100%;
		height: 16%;
	}
}
