* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--background: #fefffa;
	--black: #232323;
	--gray: #f7f7f7;
	--dark-green: #1c3e35;
	--forest-green: #1e5a38;
	--lime-green: #cafb4b;
	--emerald-green: #2dac44;
	--chartreuse-green: #7ebb09;
	--emerald-opacity-90: #2dac4490;
}

body {
	background: var(--background);
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

a {
	text-decoration: none;
	width: fit-content;
}
