.power-thirdSection {
	position: relative;
	z-index: 2;
	background-color: var(--background-power);
	height: 100vh;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
}

.list-thirdSection {
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.list-thirdSection li {
	display: flex;
	list-style: none;
	gap: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	align-items: center;
	transform: translateY(100%);
	opacity: 0;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.list-thirdSection li.active {
	transform: translateY(0);
	opacity: 1;
}

.list-text p {
	color: var(--dark-green);
}

.list-text span {
	color: var(--emerald-green);
}

.container-imgDashboard {
	width: 100%;
	height: 100%;
	position: relative;
}

.container-imgDashboard img {
	object-fit: contain;
	filter: drop-shadow(0 2px 8px #1c3e35);
}

@media (min-width: 768px) {
	.power-thirdSection {
		padding: 0 1.5rem;
	}

	.list-thirdSection li {
		font-size: 1.9rem;
		gap: 2rem;
	}

	.container-imgDashboard {
		width: 80%;
		align-self: center;
	}
}

@media (min-width: 1366px) {
	.power-thirdSection {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.list-thirdSection {
		padding-top: 0;
	}

	.container-imgDashboard {
		width: 50%;
	}
}

@media (min-width: 1920px) {
	.list-thirdSection li {
		font-size: 2.2rem;
	}
}
