.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--dark-green);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	animation: slideUp 0.5s forwards;
	animation-delay: 1s;
}

.logo-loading {
	width: 250px;
	height: 77px;
	position: relative;
	animation: fadeIn 1s forwards;
}

.logo-loading img {
	object-fit: cover;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

@media (min-width: 768px) {
	.logo-loading {
		width: 450px;
		height: 138px;
	}
}

@media (min-width: 1024px) {
	.logo-loading {
		width: 750px;
		height: 228px;
	}
}
