.power-secondSection {
	background-color: var(--background-power);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 0 1rem;
	min-height: 100vh;
}

.container-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 5rem;
}

.title-power-secondSection {
	color: var(--dark-green);
}

.title-power-secondSection span {
	color: var(--emerald-green);
}

.container-largeDashboard {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: -10rem;
	transition: bottom 1s ease-out;
}

.container-largeDashboard.visible {
	bottom: 5rem;
}

.container-largeDashboard img {
	object-fit: contain;
	width: 90%;
	height: auto;
}

@media (min-width: 768px) {
	.container-title {
		padding-top: 8rem;
		font-size: 2rem;
	}

	.container-largeDashboard {
		width: 85%;
		bottom: -15rem;
		transition: bottom 1.5s ease-out;
	}

	.container-largeDashboard.visible {
		bottom: 5rem;
	}
}

@media (min-width: 1366px) {
	.power-secondSection {
		min-height: 170vh;
	}

	.container-title {
		font-size: 1.8rem;
	}

	.container-largeDashboard {
		width: 70%;
		bottom: -40%;
		transition: bottom 2s ease-out;
	}

	.container-largeDashboard.visible {
		bottom: 5rem;
	}
}

@media (min-width: 1920px) {
	.container-largeDashboard {
		bottom: -40%;
	}

	.container-largeDashboard.visible {
		bottom: 5rem;
	}
}
